<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortener</title>
    <meta name="description" content="a short url shortener">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
      <div class="container">
        <a href="https://github.com/skywalker212/url-shortener" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
        <h1>URL Shortener</h1>
        <h3>Short URL Creation </h3>
        <p>
          This tiny shortener only supports sites with HTTPS/HTTP, URLs without it will be invalid.
        </p>
        <p>
          API endpoint is available at <code><strong>/shorturl</strong></code>, post request with header <strong>url:&lt;URL to be shortened&gt;</strong>
        </p>
        <div id="shortened">
          
        </div>
        <form action="shorturl" method="POST">
          <label for="url_input">Enter URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://skywalker212.github.io">
          <button type="submit">tinify!</button>
        </form>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/skywalker212" target="_blank">Akash</a>
        </p>
      </div>
</body>
</html>
